
.project-card{
    border: solid;
    border-color: #312c2c;
    box-shadow: 5px 5px 3px rgb(13, 14, 14);
    border-radius: 15px;
    border-width: 5px;


    height:450px;
    width: 450px;
    margin: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.project-element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.project-element img{
    height:100px;
    width:100%;
}
